@use "./utils/mixins";
@use "./utils/variables";

.banner img {
    position: relative;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center 60%;
    overflow: hidden;

}

.restau-head { 
   // position: absolute;
    padding: 0 5%;
    margin-top: 0px;
    border-radius: 2rem 2rem 0 0;
    background: white;
    h2 {
    font-family: "Shrikhand", "cursive";

}
}   

.fa-thin {
    padding-right: 10%;
    @include mixins.heart;
    &:hover {
    @include mixins.heart ($opacity: 0, $font-weight: 900, $color: transparent);
    @include mixins.hover-heart;
    @include mixins.gradient;
}
}
 
 
 //&::after {
  //      @include mixins.heart ($opacity: 0, $font-weight: 900, $color: transparent);
 //       @include mixins.gradient;
 //   }
 //   &:hover::after {
 //       opacity: 1;
  //  }
//}

.menu {

    .buttonM {
        align-items: center;
        gap: 1.5 * variables.$fonctioning-dim;
        width: 17 * variables.$fonctioning-dim;
        height: 3.5 * variables.$fonctioning-dim;
        // padding: 1.5rem 2rem; 
        padding: 0 0.5 * variables.$fonctioning-dim;
        //box-shadow: 6px 5px 15px #D8D8D8;
        margin: 1.5 * variables.$fonctioning-dim 1 * variables.$fonctioning-dim;
        border: 1px solid transparent;
        //border-radius: 1rem;
        border-radius: 1 * variables.$fonctioning-dim;
        background-color: #F6F6F6;
        @include mixins.shad;
    }

}