/* Zone Explorer */
@use "../utils/mixins";
@use "../components/buttons";

.explorer {
    text-align: center;
& h2 {
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}   
& p {
    font-size: 1rem;
    font-weight: lighter;
  //  margin-bottom: 2rem;
}
& button {
    @include buttons.button;
    @include mixins.gradient;
    @include mixins.shad;
}
& button:hover {
    @include mixins.hover-explorer;
}
}