@use "../utils/variables";
@use "../utils/colors";
@use "../utils/mixins";
@use "../components/buttons";

.blockfonction {
    padding-bottom: 2rem;
  h2 {
    padding-left: 1rem;
}  
}

.fonctioning {

    & .buttonf {
        @include buttons.buttonf;
        @include mixins.shad;  
        
        &:hover {
        @include mixins.hover-light;
        @include mixins.shad-light;
       }
       
    }
    & .icon {
    border-radius: 2 * variables.$fonctioning-dim;
    /* cercle */
    width: 1.5 * variables.$fonctioning-dim;
    /* bordure */
    height: 1.5 * variables.$fonctioning-dim;
    color: white;
    background-color: colors.$purple;
    margin: 2.5 * variables.$fonctioning-dim 0;
    font-size: variables.$fonctioning-dim ;
    float: left;
    position: absolute;
  
    

}
& i {
    color: colors.$lightgrey;
    font-size: 1.2 variables.$fonctioning-dim ;
}
& .bordericon {
    border: 1px solid transparent;
}
& .sizeicon {
    padding: 1.5 * variables.$fonctioning-dim 0;
}

}


// cursor: pointer;
   // background-color: rgb(245, 222, 249, 0.5);
   // box-shadow: 7px 7px 15px #ccaef2;
   // @media (max-width: 767px) {
   // flex-direction: column;}

