.location {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    background-color: #EAEAEA;
    padding: 2rem;
    box-shadow: inset 0 3px 2px #D5D5D5;
<<<<<<< HEAD
    padding: 2rem;
=======
>>>>>>> a8c7ebfec8449b3628b4c88f8e54eddbd6a2611b
    & i {
        font-size: 1.2rem;
    }
    & h2 {
        font-size: 1rem;
        padding: 0;
    }
}