@use "../utils/colors";
@use "../utils/variables";
@use "../utils/mixins";

.restaurants {
    background-color: #f6f6f6;
    padding-bottom: 3rem;
    h2 {
        padding-left: 1rem;
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: auto;
        grid-template-areas: "header";
    }
}



.blockrestau {
    width: 100%;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 3rem;
    @media (max-width: variables.$breakpoint) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    @media (min-width: variables.$breakpoint2) {
        row-gap: 6rem;
    }
}
.card {
    width: 80%;
    height: 18rem;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 1rem;
    @include mixins.shad;
    &:hover {
        @include mixins.hover-card;}
    @media (max-width:variables.$breakpoint) {
        min-width: 20rem;
        max-width: 25rem;
    }
    @media (min-width: variables.$breakpoint2) {
        max-width: 30rem;
        width: 75%;

    }    
    &__img {
        width: 100%;
        height:75%;
       // height: 11rem;
        border-radius: 1rem 1rem 0 0;
        background-size: cover; 
    } 
   
    @for $i from 1 through 4 {
       &__img-#{$i} {
        background-image: url(../../assets/card-#{$i}.jpg);
        background-position: center 60%;
        }
     //  &__img-2 {
     //   background-position: center bottom;
     //   }     
    }
    
    &__details {
        width: 95%;
        height: 25%;
        font-size: large;
        font-weight: 300;
        padding-left: 1rem;
        position:relative;

    .fa-thin {
        bottom: 20px;
        padding-right: 0;
        @include mixins.heart;
        &:hover {
        @include mixins.heart ($opacity: 0, $font-weight: 900, $color: transparent);
        @include mixins.hover-heart;
        @include mixins.gradient;
    }
}
}
}    
        
.new {
    position: relative;
}

.new::before {
    content: "Nouveau";
    position: absolute;
    width: 5rem;
    height: 2rem;
    border-radius: 2px;
    background-color: colors.$tertiary;
    color: darken(colors.$tertiary, 50%);
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
    
}



