@use "../utils/colors";
@use "../utils/variables";
@use "../utils/mixins";

.restaurants {
    background-color: #f6f6f6;
    padding-bottom: 3rem;
    h2 {
        padding-left: 1rem;
        display: grid;
        grid-template-columns: 500px;
        grid-template-rows: auto;
        grid-template-areas: "header";
    }
}

.blockrestau {
    width: 100%;
    //  width: 97%;
    //  height: auto;
    //  padding: 5px 25px 25px 25px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    //  grid-column-gap: 2rem;
    // grid-gap: 2rem;
    row-gap: 3rem;
    @media (max-width: variables.$breakpoint) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    @media (min-width: variables.$breakpoint2) {
        row-gap: 6rem;
    }
}
.card {
    width: 80%;
    height: 18rem;
    //width: 20.84rem;
    //width: 333px;
    // height: 15rem;
    //height: 250px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 15px #D8D8D8;
    margin: auto;
    border-radius: 1rem;
    @media (max-width:variables.$breakpoint) {
        min-width: 20rem;
        max-width: 25rem;
    }
    @media (min-width: variables.$breakpoint2) {
        max-width: 30rem;
        width: 75%;
    }
   // & :hover {
  //      @include hover-base.hover-effect;
  //  }
    &__img {
        width: 100%;
        height:75%;
       // height: 11rem;
        border-radius: 1rem 1rem 0 0;
        background-size: cover;
    }
    @for $i from 1 through 4 {
        &__img-#{$i} {
            background-image: url(../../assets/card-#{$i}.jpg);
        }
    }
    // = &__img-1 {background-image: url(../../assets/card-1.jpg);}
    //   &__img-2 {background-image: url(../../assets/card-2.jpg);}
    //   &__img-3 {background-image: url(../../assets/card-3.jpg);}
    //   &__img-4 {background-image: url(../../assets/card-4.jpg);}
    &__details {
        width:90%;
        height: 25%;
        padding-left: 1rem;
        font-size: large;
        font-weight: 300;
       // line-height: 137%;
     ////   &::before {
            //  &:first {
            //@include mixins.heart;
        .fa {
            position: relative;
            right: 1rem;
            bottom: 0.5rem;
        }
        .fa:before {
            content:"/f004";
           
        }    
 
       &::after {
         //  &:first child {
           @include mixins.heart; 
           @include mixins.gradient;
           opacity: 0;
           color: transparent;
           font-weight: 900;
       }
       // &:last-child {
        &:hover::after {              
            opacity: 1; 
            position: absolute;  
            right: 1rem;
            bottom: 0.5rem;
            display: inline-block;
           }
           
       
         
           }
         }
        
    



.new {
    position: relative;
}

.new::before {
    content: "Nouveau";
    position: absolute;
    width: 5rem;
    height: 2rem;
    border-radius: 2px;
    background-color: colors.$tertiary;
    color: darken(colors.$tertiary, 50%);
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
}



