@use "../utils/hover-base";
@use "../utils/variables";
@use "../utils/colors";

.restaurants {
    background-color: #f6f6f6;
    padding-bottom: 2rem;
   
}
.blockrestau {
  //  width: 97%;
  //  height: auto;
  //  padding: 5px 25px 25px 25px;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 45%);
  //  grid-column-gap: 2rem;
    grid-gap: 2rem;
    @media (max-width: variables.$breakpoint) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
.card {
    width: 20.84rem;
    //width: 333px;
   // height: 15rem;
    //height: 250px;
    background-color: #FFFFFF; 
    box-shadow: 2px 2px 15px #D8D8D8;
    margin: auto;
    border-radius: 1rem;
    & :hover {
        @include hover-base.hover-effect;
    }
&__img {
    width: 100%;
    height: 11rem;
    border-radius: 1rem 1rem 0 0;
    background-size: cover;
}
@for $i from 1 through 4 {
&__img-#{$i} {
    background-image: url(../../assets/card-#{$i}.jpg);
    }
}
// = &__img-1 {background-image: url(../../assets/card-1.jpg);}
//   &__img-2 {background-image: url(../../assets/card-2.jpg);}
//   &__img-3 {background-image: url(../../assets/card-3.jpg);}
//   &__img-4 {background-image: url(../../assets/card-4.jpg);}
&__details {
    padding: 2% 4%;
    font-size: large;
    font-weight: 300;
    line-height: 137%;
    i {
        font-size: 2rem;
       // position: absolute;
    }
}

}

.new {
    position: relative;
}
.new::before {
    content: "Nouveau";
    position: absolute;
    width: 5rem;
    height: 2rem;
    border-radius: 2px;
    background-color: colors.$tertiary;
    color: darken(colors.$tertiary, 50%);
    display: grid;
    place-items: center;
    right: 1rem;
    top: 1rem;
}


