@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before ::after {
  box-sizing: border-box;
}

/* Police Logo + titres */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  padding: 0 1rem;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*i {
    font-size: 1.1em;
}*/
/* Général */
.flexstart {
  display: flex;
  justify-content: flex-start;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexend {
  display: flex;
  justify-content: flex-end;
}

.flexaround {
  display: flex;
  justify-content: space-around;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexcolumncenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcolumn {
  display: flex;
  align-items: flex-start;
}

.flexcolumnaround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexcolumnbetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.alignitems {
  display: flex;
  align-items: center;
}

/* Couleurs et styles généraux */
.textbold {
  font-weight: bold;
}

.decorationNone {
  text-decoration: none;
}

.bordernone {
  border: none;
}

.colorpurple {
  color: #9356DC;
}

.colorpink {
  color: #FF79DA;
}

.colorgrey {
  color: #7E7E7E;
}

.colorblack {
  color: #1C1C1C;
}

.backgrey {
  background-color: #F6F6F6;
}

.backgrey2 {
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 2px #D5D5D5;
}

header {
  font-family: "Shrikhand", cursive;
  margin: 0px;
  text-align: center;
  padding: 0.3rem;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 2px #D5D5D5;
  padding: 0.5rem;
}
.location i {
  font-size: 1.2rem;
}

/* Zone Explorer */
.explorer {
  text-align: center;
}
.explorer h2 {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.explorer p {
  font-size: 1rem;
}
.explorer button {
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.31);
}
.explorer button:hover {
  cursor: pointer;
  transform: scale(1, 1.05);
  transition: 300ms;
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 2rem;
}

.blockrestau {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-gap: 2rem;
}
@media (max-width: 1000px) {
  .blockrestau {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.card {
  width: 20.84rem;
  background-color: #FFFFFF;
  box-shadow: 2px 2px 15px #D8D8D8;
  margin: auto;
  border-radius: 1rem;
}
.card :hover {
  cursor: pointer;
  transform: scale(1, 1.05);
  transition: 300ms;
}
.card__img {
  width: 100%;
  height: 11rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
}
.card__img-1 {
  background-image: url(../../assets/card-1.jpg);
}
.card__img-2 {
  background-image: url(../../assets/card-2.jpg);
}
.card__img-3 {
  background-image: url(../../assets/card-3.jpg);
}
.card__img-4 {
  background-image: url(../../assets/card-4.jpg);
}
.card__details {
  padding: 2% 4%;
  font-size: large;
  font-weight: 300;
  line-height: 137%;
}
.card__details i {
  font-size: 2rem;
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  width: 5rem;
  height: 2rem;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}

*,
::before ::after {
  box-sizing: border-box;
}

/* Police Logo + titres */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  padding: 0 1rem;
}

h2 {
  padding: 2rem 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/*i {
    font-size: 1.1em;
}*/
/* Général */
.flexstart {
  display: flex;
  justify-content: flex-start;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexend {
  display: flex;
  justify-content: flex-end;
}

.flexaround {
  display: flex;
  justify-content: space-around;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexcolumncenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexcolumn {
  display: flex;
  align-items: flex-start;
}

.flexcolumnaround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexcolumnbetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

.alignitems {
  display: flex;
  align-items: center;
}

/* Couleurs et styles généraux */
.textbold {
  font-weight: bold;
}

.decorationNone {
  text-decoration: none;
}

.bordernone {
  border: none;
}

.colorpurple {
  color: #9356DC;
}

.colorpink {
  color: #FF79DA;
}

.colorgrey {
  color: #7E7E7E;
}

.colorblack {
  color: #1C1C1C;
}

.backgrey {
  background-color: #F6F6F6;
}

.backgrey2 {
  background-color: #EAEAEA;
  box-shadow: inset 0 3px 2px #D5D5D5;
}

footer {
  background-color: #353535;
  padding: 1rem 2rem;
  color: white;
}
footer h3 {
  font-family: "shrikhand", sans-serif;
  font-weight: 500;
  padding: 2rem 0 0 0;
}

.fonctioning .buttonf {
  align-items: center;
  gap: 1.5rem;
  width: 20rem;
  height: 3.5rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  background-color: #F6F6F6;
  padding: 0 2rem;
  margin: 1.5rem 1rem;
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.31);
}
.fonctioning .icon {
  border-radius: 2rem;
  /* cercle */
  width: 1.5rem;
  /* bordure */
  height: 1.5rem;
  color: white;
  background-color: #9356DC;
  margin: 2.5rem 0;
  font-size: 1rem;
  float: left;
  position: absolute;
}
.fonctioning i {
  color: #7E7E7E;
  font-size: 1.2 1rem;
}
.fonctioning .bordericon {
  border: 1px solid transparent;
}
.fonctioning .sizeicon {
  padding: 1.5rem 0;
}
.fonctioning :hover {
  cursor: pointer;
  transform: scale(1, 1.05);
  transition: 300ms;
}

/*# sourceMappingURL=style.css.map */
