@use "../utils/box-shadow";
@use "../utils/hover-base";
@use "../utils/variables";
@use "../utils/colors";


.fonctioning {

    & .buttonf {
        align-items: center;
        gap: 1.5 * variables.$fonctioning-dim;
        width: 20 * variables.$fonctioning-dim;
        height: 3.5 * variables.$fonctioning-dim;
        border: 1px solid transparent;
        //border-radius: 1rem;
        border-radius: 1 * variables.$fonctioning-dim;
        background-color: #F6F6F6;
       // padding: 1.5rem 2rem; 
        padding: 0  2 * variables.$fonctioning-dim;
        //box-shadow: 6px 5px 15px #D8D8D8;
        margin: 1.5 * variables.$fonctioning-dim 1 * variables.$fonctioning-dim;
        @include box-shadow.box-shad;  
    }
    & .icon {
    border-radius: 2 * variables.$fonctioning-dim;
    /* cercle */
    width: 1.5 * variables.$fonctioning-dim;
    /* bordure */
    height: 1.5 * variables.$fonctioning-dim;
    color: white;
    background-color: colors.$purple;
    margin: 2.5 * variables.$fonctioning-dim 0;
    font-size: variables.$fonctioning-dim ;
    float: left;
    position: absolute;
  
    

}
& i {
    color: colors.$lightgrey;
    font-size: 1.2 variables.$fonctioning-dim ;
}
& .bordericon {
    border: 1px solid transparent;
}
& .sizeicon {
    padding: 1.5 * variables.$fonctioning-dim 0;
}
& :hover {
    @include hover-base.hover-effect;
}
}


// cursor: pointer;
   // background-color: rgb(245, 222, 249, 0.5);
   // box-shadow: 7px 7px 15px #ccaef2;
   // @media (max-width: 767px) {
   // flex-direction: column;}

