@mixin hover-effect1 {

    background-color : #F5EDFF;
}

@mixin hover-effect2 {
     cursor: pointer;
    transform: scale(1, 1.05);
    transition: 300ms;
}    


    //transform: scaleX(0.93);
    //background-color: pink;
    //box-shadow:16px 23px 5px 3px rgba(255,222,254,0.38) ;
 

