$fonctioning-dim : 1rem;
$breakpoint: 1000px;
$breakpoint2: 1440px;
<<<<<<< HEAD
<<<<<<< HEAD
$breakpoint3: 2000px;
=======
$breakpoint3: 2000px;
>>>>>>> a8c7ebfec8449b3628b4c88f8e54eddbd6a2611b
=======
$breakpoint3: 2000px;
>>>>>>> refs/remotes/origin/master
